<form action="/measurement" method="POST" id="add_user">
    <div class="input-form">
        <label for="locationid">Location ID</label><br>
        <input type="number" name="locationid" id="locationid" value="" placeholder="locationid ">
    </div> <br>
    <div class="input-form">
        <label for="unit">Unit</label><br>
        <input type="text" name="unit" id="unit" value="" placeholder="Humidity">
    </div><br>

    <div class="input-form">
        <label for="amount">Amount</label><br>
        <input type="number" name="amount" id="amount" value="" placeholder="amount ">
    </div> <br>
    <div class="input-form">
        <label for="deviceid">deviceid</label><br>
        <input type="number" name="deviceid" id="deviceid" value="" placeholder="Humidity">
    </div><br>
   
    <button type="submit">Save</button>
</form>